!!!
html(lang="en", ng-app="myApp")
	head
		meta(charset="utf-8")
		base(href='/')
		link(rel="stylesheet", type="text/css", href="css/lib/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="css/app.css")
		link(href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700', rel='stylesheet', type='text/css')
		title Action Steps

		script(src='js/lib/jquery.min.js')
		script(src='js/lib/jquery-ui.min.js')
		script(src='js/lib/angular.min.js')
		script(src='js/lib/angular-dragdrop.js')
		script(src='js/lib/bootstrap.min.js')
		script(src='js/lib/jquery.knob.js')
		
	
	body(ng-controller="AppCtrl")
		div(class="navbar navbar-fixed-top")
			div(class="navbar-inner")
				div(class="container")
					a(class="brand", href="#") Action Steps
					form(ng-submit="createProject()")
						ul(class="nav")
							li
								input(type="text", ng-model="projectInput", class="projectInput", placeholder="Create a new project.")
							li
								input(type="submit", class="btn", value="Create")
							li
								button(class="btn btn-success save", ng-click="save()") Save
							li 
								button(class="btn btn-inverse", ng-click="logout()") Logout
						
		block body
