/*		colors: ice blue - 9ED9D8
		blue - 2C4259
		teal - 00D6DD
		super light gray - EDE9F0
		light gray - D4D0D1    
		red - d96055  */


html, body {
	height: 100%;
	color: #061C26;
	font-family: 'Oxygen', sans-serif;
	background-color: #e8e8e8;
}

.navbar-inner {
	background-image: none; 
}

.navbar .brand {
	color: #061C26;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: rgba(158, 217, 216, 0.8);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(158, 217, 216, 0.6);
outline: 0 none;}

.projectInput {
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 100px;
}

#main {
	margin-top: 50px;
}

.navbar-fixed-top .container {
	min-width: : 95%;
	max-width: 95%;
	width: 95%;
}

#leftBar {
	float:left;
	background-color: white;
	border-bottom: 1px solid #D8D8D8;
}

#content {
	float: left;
	background-color: #e8e8e8;
}

.inner-content {
	float: left;
	overflow: hidden;
}

.project-holder {
	width: 10000px;
	height: 500px;
	position: relative;
}

#footer {
	width: 100%;
	height: 350px;
	background-color: #2C4259;
	float: left;
}

.project {
	margin: 10px;
	margin-top: 55px;
	background-color: white;
	float: left;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 1px #cccccc inset,0 1px 0 rgba(255,255,255,0.6),0 1px 0 1px rgba(255,255,255,0.6) inset;
	-moz-box-shadow: 0 0 0 1px #cccccc inset,0 1px 0 rgba(255,255,255,0.6),0 1px 0 1px rgba(255,255,255,0.6) inset;
	box-shadow: 0 0 0 1px #cccccc inset,0 1px 0 rgba(255,255,255,0.6),0 1px 0 1px rgba(255,255,255,0.6) inset;
	background: #ececec;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fafafa),color-stop(100%,#ececec));
	background-image: -webkit-linear-gradient(top,#fafafa,#ececec);
	background-image: -moz-linear-gradient(top,#fafafa,#ececec);
	background-image: -o-linear-gradient(top,#fafafa,#ececec);
	background-image: linear-gradient(top,#fafafa,#ececec);
}

.current {
}

.arrow {
	position: relative;
	top: 40%;
	font-size: 150px;
	font-weight: 100;
	line-height: 30px;
	color: #D4D0D1;
	text-align: center;
}

.arrow:hover {
	color: #2C4259;
	text-decoration: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

.space {
	width: 4%;
	height: 85%;
	margin: 10px;
	margin-top: 55px;
	float: left;
}

#createTask {
	position: relative;
	margin: 10px;
	margin-top: 60px;
}

#createTask h5 {
	margin-left: 12px;
	color: white;
}

#taskInput {
	margin-top: -15px;
	padding: 12px;
	background-color: white;
	height: 30px;
	width: 220px;
	border-radius: 10px;
	border-top-right-radius: 0px;
}

#panel {
	background-color: white;
	padding: 5px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #D8D8D8;
}

#trash {
	background-color: white;
	border-top: 1px solid #9ED9D8;
	border-right: 1px solid #9ED9D8;
	padding: 5px;
	padding-top: 10px;
}

.dayWidth {
	width: 180px;
}

.fill {
	width: 100%;
	height: 100%;
}

[class^="icon-"], [class*=" icon-"] {
	background-image: url("../../img/glyphicons-halflings.png");
}

.icon-white {
	background-image: url("../../img/glyphicons-halflings-white.png");
}

.transp {
	background-color: transparent;
}

.tabtop {
	width: 100%;
	color: white;
	height: 50px;
	background-color: #d96055;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 10px;

}

.tabtop h5{
	margin-top: 13px;
	margin-left: 10px;
}

.tabtop i{
	margin-top: 15px;
	margin-right: 10px;
}

.white {
	color: #e8e8e8;
}

.lead {
	font-size: 15px;
	margin-top: -6px;
	margin-left: 5px;
}

.icon-trash {
	margin-left: 10px;
}

.btn-info {
	color: #061C26;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #EDE9F0;
	background-image:none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: none;
	border-color: none;
	border-color: none;
	filter: progid:none;
	filter: progid:none;
}

.btn-info:hover {
	background-color: #D4D0D1;
	color: #061C26;
}

.btn-danger {
	color: black;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #9ED9D8;
	background-image:none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: none;
	border-color: none;
	border-color: none;
	filter: progid:none;
	filter: progid:none;
}

.btn-danger:hover {
	color: black;
	background-color: #84B5B4;
}

.btn {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-image:none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: none;
	border-color: none;
	border-color: none;
	filter: progid:none;
	filter: progid:none;
}

@media (min-width: 1300px) {
	#leftBar {
		width: 200px;
		height: 148px;
	}

	#content {
		width: 1100px;
		height: 500px;
	}

	.inner-content {
		width: 875px;
		height: 500px;
	}

	.project {
		width: 198px;
		height: 430px;
	}

	.panelWidth {
		width: 160px;
	}

	.projectWidth {
		width: 160px;
		margin-left: 5px;
	}

	#panel {
		margin-top: 50px;
		height: 231px;
	}

	#trash {
		height: 100px;
	}

}