/*		colors: ice blue - 9ED9D8
		blue - 2C4259
		teal - 00D6DD
		super light gray - EDE9F0
		light gray - D4D0D1    
		red - d96055  */


html, body {
	height: 100%;
	color: #3a3a3a;
	font-family: 'Oxygen', sans-serif;
	background-color: #e8e8e8;
}

body#login {
	background: url("../../img/mountains.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-inner {
	background-image: none; 
}

.navbar-fixed-bottom, .navbar-fixed-bottom .navbar-inner {
	height: 60px;
}

.room {
	margin: 10px;
}

.navbar .brand {
	color: #061C26;
}

.hero-unit {
	background-color: rgba(255,255,255,.85);
	width: 500px;
	height: 200px;
}

.modalTextArea {
	height: 50px;
}

.save {
	margin-left: 10px;
}

.moveUp {
	margin-top: 0px;
}
.center {
	margin: 0 auto;
}

.hero-unit img {
	
	margin-top: -20px;
	float:left;
	margin-bottom: 30px;
	margin-left: 35px;
	font-weight: 100;
}

.hero-unit form {
	margin-left: 70px;
}

.brand img{
	height: 25px;
}
.hero-unit input[type="submit"], .hero-unit a {
	width: 150px;
}


.hero-unit input[type="text"], .hero-unit input[type="password"]  {
	width: 320px;	
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	border-color: none;
	box-shadow: none;
	outline: 0 none;
	border: 1px solid #3a3a3a;
}

.projectInput {
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 100px;
}

#main {
	margin-top: 50px;
}

.navbar-fixed-top .container {
	min-width: : 95%;
	max-width: 95%;
	width: 95%;
}

#leftBar {
	float:left;
	background-color: white;
	border-bottom: 1px solid #D8D8D8;
}

#content {
	float: left;
	background-color: #e8e8e8;
	overflow: hidden;
}

.project-holder {
	width: 10000px;
	height: 100%;
	position: relative;
}

#footer {
	width: 100%;
	height: 350px;
	background-color: #2C4259;
	float: left;
}

.project {
	margin-top: 55px;
	height: 80%;
	background-color: white;
	float: left;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 1px #cccccc inset,0 1px 0 rgba(255,255,255,0.6),0 1px 0 1px rgba(255,255,255,0.6) inset;
	-moz-box-shadow: 0 0 0 1px #cccccc inset,0 1px 0 rgba(255,255,255,0.6),0 1px 0 1px rgba(255,255,255,0.6) inset;
	box-shadow: 0 0 0 1px #cccccc inset,0 1px 0 rgba(255,255,255,0.6),0 1px 0 1px rgba(255,255,255,0.6) inset;
	background: #ececec;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fafafa),color-stop(100%,#ececec));
	background-image: -webkit-linear-gradient(top,#fafafa,#ececec);
	background-image: -moz-linear-gradient(top,#fafafa,#ececec);
	background-image: -o-linear-gradient(top,#fafafa,#ececec);
	background-image: linear-gradient(top,#fafafa,#ececec);
}

.alert {
	padding: 5px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: -10px;
	float: left;
	padding-right: 25px;
}

.arrow {
	position: relative;
	top: 40%;
	font-size: 150px;
	font-weight: 100;
	line-height: 30px;
	color: #D4D0D1;
	text-align: center;
}

.arrow:hover {
	color: #0098D4;
	text-decoration: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

.space {
	width: 37px;
	height: 85%;
	margin: 10px;
	margin-top: 55px;
	float: left;
}

#createTask {
	position: relative;
	margin: 10px;
	margin-top: 60px;
}

#createTask h5 {
	margin-left: 12px;
	color: white;
}

#taskInput {
	margin-top: -15px;
	padding: 12px;
	background-color: white;
	height: 30px;
	width: 220px;
	border-radius: 10px;
	border-top-right-radius: 0px;
}

.inputArea {
	background-color: #D4D0D1;
	border-bottom: 1px solid white;
	border-top: 1px solid #e8e8e8;
}

.inputArea input {
	margin: 10px;
	margin-top: 15px;
	width: 86%;
}

#panel {
	background-color: white;
	padding: 5px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #D8D8D8;
}

#trash {
	background-color: white;
	border-top: 1px solid #9ED9D8;
	border-right: 1px solid #9ED9D8;
	padding: 5px;
	padding-top: 10px;
}

.dayWidth {
	width: 180px;
}

.fill {
	width: 100%;
	height: 75%;
	border-top: 1px solid lightgray;
	padding-top: 5px;
}

[class^="icon-"], [class*=" icon-"] {
	background-image: url("../../img/glyphicons-halflings.png");
}

.icon-white {
	background-image: url("../../img/glyphicons-halflings-white.png");
}

.transp {
	background-color: transparent;
}

.tabtop {
	width: 100%;
	color: white;
	height: 50px;
	background-color: #FF8577;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 2px solid #FFACA5;

}

.lessMarginForm {
	margin: 0 0 10px;
}

.tabtop h5{
	margin-top: 13px;
	margin-left: 10px;
}

.tabtop i{
	margin-top: 15px;
	margin-right: 10px;
}

.white {
	color: #e8e8e8;
}

.lead {
	font-size: 15px;
	margin-top: -6px;
	margin-left: 5px;
}

.icon-trash {
	margin-left: 10px;
}

.btn-success {
	color: #061C26;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #C7FF8B;
	background-image:none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: none;
	border-color: none;
	border-color: none;
	filter: progid:none;
	filter: progid:none;
}

.btn-success:hover {
	background-color: #B7EB80;
	color: #061C26;
}

.btn-primary {
	color: white;
	text-shadow: none;
	background-color: #0098D4;
}

.btn-primary:hover {
	color: white;
	background-color: #0073A1;
}

.btn-info {
	color: white;
	text-shadow: none;
	background-color: #9DC2FF;
	
}

.btn-info:hover {
	color: white;
	background-color: #89A9DE;
}

.btn-danger {
	background-color: #FF8577; 
}

.btn-danger:hover {
	background-color: #F27E71; 
}

.btn {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-radius: 3px;
	background-image:none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: none;
	border-color: none;
	border-color: none;
	filter: progid:none;
	filter: progid:none;
}

.btn-gray {
	background-color: lightgray;
	color:#3a3a3a;
	text-shadow: none;
	width: 88%;
}

#discard {
	border: 1px solid gray;
}

.btn-gray:hover {
	background-color: lightgray;
	color:#3a3a3a;
	text-shadow: none;
	width: 88%;
}

.btn-light-gray {
	color:#3a3a3a;
	text-shadow: 0 -1px 0 rgba(104,104,104,0.25);
	background-color: #F0F0F0;
}

.btn-light-gray:hover {
	color:#3a3a3a;
	text-shadow: 0 -1px 0 rgba(104,104,104,0.25);
	background-color: #e8e8e8;
}

#addButton {
	font-size: 20px;
	color: white;
}


.icon-trash {
	margin-right: 10px;
}

.row-fluid {
		height: 100%;
}

@media (min-width: 1300px) { 
	#content {
		width: 1200px;
		height: 100%;
	}

	

	.projectWidth {
		width: 240px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 800px) { 
	#content {
		width: 700px;
		height: 100%;
	}

	.projectWidth {
		width: 160px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 900px) { 
	#content {
		width: 800px;
		height: 100%;
	}

	.projectWidth {
		width: 170px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 1000px) { 
	#content {
		width: 900px;
		height: 100%;
	}

	.projectWidth {
		width: 180px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 1100px) { 
	#content {
		width: 1000px;
		height: 100%;
	}

	.projectWidth {
		width: 200px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 1200px) { 
	#content {
		width: 1100px;
		height: 100%;
	}

	.projectWidth {
		width: 220px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 1300px) { 
	#content {
		width: 1200px;
		height: 100%;
	}

	.projectWidth {
		width: 240px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 1400px) { 
	#content {
		width: 1300px;
		height: 100%;
	}

	.projectWidth {
		width: 260px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}

@media (min-width: 1500px) { 
	#content {
		width: 1400px;
		height: 100%;
	}

	.projectWidth {
		width: 280px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 1600px) { 
	#content {
		width: 1500px;
		height: 100%;
	}

	.projectWidth {
		width: 300px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 1700px) { 
	#content {
		width: 1600px;
		height: 100%;
	}

	.projectWidth {
		width: 320px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 1800px) { 
	#content {
		width: 1700px;
		height: 100%;
	}

	.projectWidth {
		width: 340px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 1900px) { 
	#content {
		width: 1800px;
		height: 100%;
	}

	.projectWidth {
		width: 360px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 2000px) { 
	#content {
		width: 1900px;
		height: 100%;
	}

	.projectWidth {
		width: 380px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 2100px) { 
	#content {
		width: 2000px;
		height: 100%;
	}

	.projectWidth {
		width: 400px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
	@media (min-width: 2200px) { 
	#content {
		width: 2100px;
		height: 100%;
	}

	.projectWidth {
		width: 420px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 2300px) { 
	#content {
		width: 2200px;
		height: 100%;
	}

	.projectWidth {
		width: 440px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 2400px) { 
	#content {
		width: 2300px;
		height: 100%;
	}

	.projectWidth {
		width: 460px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}

	@media (min-width: 2500px) { 
	#content {
		width: 2400px;
		height: 100%;
	}

	.projectWidth {
		width: 480px;
		margin-left: 5px;
	}

	#trash {
		height: 100px;
	}
}